.table-main {
  &__title {
    margin: 0;
    margin-bottom: 0.5em;
  }

  &__content {
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 1.2em;
  }
}

@media (min-width: $tablet-width) {
  .table-main {
    &__content {
      max-width: 540px;
    }
  }
}
