.table-main {
  &__title {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.5em;
    max-width: 580px;
  }

  &__content {
    margin: 0;
    font-size: 1em;
    max-width: 540px;
    margin-bottom: 0.5em;
  }
}

@media (min-width: $tablet-width) {
  .table-main {
    &__title {
      max-width: 100%;
    }
  }
}
