.table-side {
  &__place {
    margin: 0;
    margin-bottom: 0.2em;
    font-weight: 600;
    font-size: 1.5em;
  }
  &__city {
    font-weight: 100;
    margin: 0;
  }

  &__time {
    font-weight: 100;
    margin: 0;
    margin-bottom: 0.2em;
    // text-align: right;
  }
}
