.side-intro {
  &__wrapper {
    position: relative;
    padding-bottom: 6em;
    padding-top: 8em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-bottom: 1px solid $black-20;
  }

  &__name {
    margin: 0;
    font-size: 3em;
    font-weight: 800;
    letter-spacing: -0.03em;
    margin-bottom: 0.3em;
  }

  &__position {
    margin: 0;
    font-weight: 300;
    font-size: 1.2em;
    margin-bottom: 3em;
  }

  &__contact-list {
    position: absolute;
    top: 30px;
    display: block;
    font-family: "Spectral script=all rev=1";
    font-style: italic;
    font-size: 1em;
  }

  &__contact-link--linkedin {
    margin-right: 15px;
  }
}
