.page {
  display: block;
  min-width: 320px;
  background-color: $white;
  margin: 0 auto;
  padding: 7em 1.5em 4em 1.5em;
}

.wrapper {
  max-width: 20em;
}

@media (min-width: $tablet-width) {
  .page {
    line-height: $line-height-smaller;
    padding-top: 10em;
    padding-bottom: 6em;
  }

  .wrapper {
    margin: 0 auto;
    max-width: 30em;
  }
}

@media (min-width: $desktop-width) {
  .page {
    padding-top: 15em;
    padding-bottom: 10em;
  }

  .wrapper {
    max-width: 40em;
  }
}
