.header-name {
  margin-bottom: 2em;

  &__name {
    font-size: $font-size-28;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .header-name {
    margin-bottom: 4em;

    &__name {
      font-size: $font-size-36;
    }
  }
}
