.area-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: $black-90;

  &__title {
    font-weight: 400;
    margin: 0;
    margin-bottom: 1.5em;
    font-style: italic;
  }
}

@media (min-width: $tablet-width) {
}
