.page-header {
  padding: 7em 1.5em 0;

  &__link {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 40px;
  }

  &__name {
    font-size: 1.3rem;
    margin: 0;
    margin-bottom: 20px;
  }

  &__title {
    font-style: italic;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
}
