// Circe Slab Narrow Light
@font-face {
  font-family: "CirceSlab_C Narrow";
  src: url("../fonts/CirceSlab_CNarrowLight.woff2") format("woff2"),
    url("../fonts/CirceSlab_CNarrowLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}

//Circe Slab_C Narrow
@font-face {
  font-family: "CirceSlab_C Narrow";
  src: url("../fonts/CirceSlab_CNarrow.woff2") format("woff2"),
    url("../fonts/CirceSlab_CNarrow.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

// Circe Slab_C Narrow Medium
@font-face {
  font-family: "CirceSlab_C Narrow";
  src: url("../fonts/CirceSlab_CNarrowMedium.woff2") format("woff2"),
    url("../fonts/CirceSlab_CNarrowMedium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

body {
  letter-spacing: normal;
  text-rendering: optimizeLegibility;
  font-family: "CirceSlab_C Narrow";
  font-weight: 400;
  font-size: $font-size-root;
  line-height: $line-height;
  font-style: normal;
  background-color: $white;
  color: $black-90;
}

// @media (min-width: $tablet-width) {
//   .title {
//     font-size: 1.3rem;
//   }

//   .text {
//     font-size: 1.3rem;
//   }

//   .link {
//     font-size: 1.3rem;
//     color: $limerick;
//   }
// }

// @media (min-width: $desktop-width) {
//   .title,
//   .text {
//     font-size: 1.45rem;
//   }

//   .link {
//     font-size: 1.45rem;
//   }
// }
